<header class="header">
    <nav class="nav container">
         <div class="nav-data">
            <img class="logo" src="/images/logo.png" height="80px" alt="" 
            style="padding-left: 35px; cursor: pointer;" 
            onclick="window.location.href='/'">
       

              <div class="nav-toggle" id="nav-toggle">
                 <i class="ri-menu-line nav-toggle-menu"></i>
                 <i class="ri-close-fill nav-toggle-close"></i>
              </div>
         </div>
         <div class="nav-menu" id="nav-menu">
             <ul class="nav-list">
                 
                  <li class="dropdown-item">
                     <div class="nav-link dropdown-button">
                         Find Lawyer <i class="ri-arrow-down-s-line dropdown-arrow"></i>
                     </div>

                     <div class="dropdown-container">
                         <div class="dropdown-content">
                             <div class="dropdown-group">
                                <!-- <div class="dropdown-icon">
                                 <i class="fa-sharp fa-regular fa-house-chimney-window"></i>
                                </div> -->

                                <span class="dropdown-title">Family/Personal  </span>

                                <ul class="dropdown-list">
                                 <li>
                                     <a href="/search-homepage-lawyers?law=divorce"class="dropdown-link">Divorce</a>
                                 </li>

                                 <!-- <li>
                                     <a href="/search-homepage-lawyers?law=family-dispute"class="dropdown-link">Family Dispute</a>
                                 </li> -->

                                 <li>
                                     <a href="/search-homepage-lawyers?law=child-custody"class="dropdown-link">Child Custody</a>
                                 </li>
                                 <li>
                                     <a href="/search-homepage-lawyers?law=medical-negligence"class="dropdown-link">Medical Negligence</a>
                                 </li>
                             </ul>
                             </div>
                              
                             <div class="dropdown-group">
                                 <!-- <div class="dropdown-icon">
                                     <i class="ri-heart-line"></i>
                                 </div> -->
                                 <span class="dropdown-title">Criminal  </span>
                                 <ul class="dropdown-list">
                                  <li>
                                      <a href="/search-homepage-lawyers?law=criminal"class="dropdown-link">Criminal</a>
                                  </li>

                                  
                                  <li>
                                      <a href="/search-homepage-lawyers?law=cyber-crime"class="dropdown-link">Cyber Crime</a>
                                  </li>
                                  
                                  
                                 </ul>
                              </div>
                             <div class="dropdown-group">
                                 <!-- <div class="dropdown-icon">
                                     <i class="ri-heart-line"></i>
                                 </div> -->
                                 <span class="dropdown-title">Property </span>
                                 <ul class="dropdown-list">
                                

                                  <li>
                                      <a href="/search-homepage-lawyers?law=property"class="dropdown-link">Property</a>
                                  </li>

                                 
                                  <li>
                                      <a href="/search-homepage-lawyers?law=labour-&-services"class="dropdown-link">Labour & services</a>
                                  </li>
                                  
                                  <li>
                                    <a href="/search-homepage-lawyers?law=landlord-tenant"class="dropdown-link">Landlord/Tenant</a>
                                </li>
                                  <li>
                                    <a href="/search-homepage-lawyers?law=real-estate"class="dropdown-link">Real Estate</a>
                                </li>
                                 </ul>
                              </div>
                             
                             
                              <div class="dropdown-group">
                                 <!-- <div class="dropdown-icon">
                                     <i class="ri-book-marked-line"></i>
                                 </div> -->
                                 <span class="dropdown-title">Corporate Law  </span>
                                 <ul class="dropdown-list">
                                  <li>
                                      <a href="/search-homepage-lawyers?law=trademark-&-copyright"class="dropdown-link">Trademark &copyright</a>
                                  </li>

                                  <li>
                                      <a href="/search-homepage-lawyers?law=customs-&-central-excise"class="dropdown-link">Customs & Central Excise</a>
                                  </li>

                                  <li>
                                      <a href="/search-homepage-lawyers?law=startup"class="dropdown-link">Startup</a>
                                  </li>

                                  <li>
                                     <a href="/search-homepage-lawyers?law=banking-finance"class="dropdown-link">Banking/Finance</a>
                                 </li>
                                  <li>
                                     <a href="/search-homepage-lawyers?law=corporate"class="dropdown-link">Corporate</a>
                                 </li>
                                  <li>
                                     <a href="/search-homepage-lawyers?law=gst-tax"class="dropdown-link">GST/Tax</a>
                                 </li>
                                 </ul>
                              </div>

                              <div class="dropdown-group">
                                 <!-- <div class="dropdown-icon">
                                     <i class="ri-file-paper-2-line"></i>
                                 </div> -->
                                 <span class="dropdown-title">Civil/Debt Matters </span>
                                 <ul class="dropdown-list">
                                  

                                  <li>
                                      <a href="/search-homepage-lawyers?law=consumer-court"class="dropdown-link">Consumer Court</a>
                                  </li>
                                  <li>
                                      <a href="/search-homepage-lawyers?law=civil"class="dropdown-link">Civil</a>
                                  </li>
                                  <li>
                                      <a href="/search-homepage-lawyers?law=cheque-bounce"class="dropdown-link">Cheque Bounce</a>
                                  </li>
                                  <li>
                                      <a href="/search-homepage-lawyers?law=rera"class="dropdown-link">RERA</a>
                                  </li>
                                  <li>
                                      <a href="/search-homepage-lawyers?law=litigation-and-dispute-resolution"class="dropdown-link">Litigation and Dispute Resolution</a>
                                  </li>
                                  
                                 </ul>
                              </div>



                              <div class="dropdown-group">
                                 <!-- <div class="dropdown-icon">
                                     <i class="ri-file-paper-2-line"></i>
                                 </div> -->
                                 <span class="dropdown-title">Others</span>
                                 <ul class="dropdown-list">
                                  <!-- <li>
                                      <a href="/search-homepage-lawyers?law=supreme-court"class="dropdown-link">Supreme Court</a>
                                  </li> -->
                                  <li>
                                    <a href="/search-homepage-lawyers?law=cat"class="dropdown-link">CAT</a>
                                </li>
                                <li>
                                    <a href="/search-homepage-lawyers?law=drt"class="dropdown-link">DRT</a>
                                </li>
                                  <li>
                                    <a href="/search-homepage-lawyers?law=documentation"class="dropdown-link">Documentation</a>
                                </li>

                                  <li>
                                      <a href="/search-homepage-lawyers?law=insurance"class="dropdown-link">Insurance</a>
                                  </li>
                                  <li>
                                      <a href="/search-homepage-lawyers?law=immigration"class="dropdown-link">Immigration</a>
                                  </li>
                                  <li>
                                      <a href="/search-homepage-lawyers?law=international-law"class="dropdown-link">International Law</a>
                                  </li>
                                 
                                  <li>
                                      <a href="/search-homepage-lawyers?law=mat"class="dropdown-link">MAT</a>
                                  </li>
                                 
                                 
                                  
                                 </ul>
                              </div>



                             </div>

                         </div>
                 </li>
                 <!-- <li><a href="#" class="nav-link">Legal Info</a></li> -->  
                 
                 <li class="dropdown-item">
                     <div class="nav-link dropdown-button">
                         Company<i class="ri-arrow-down-s-line dropdown-arrow"></i>
                     </div>
             
                     <div class="dropdown-container">
                         <div class="dropdown-content">
             
                             <div class="dropdown-group">
                                <!-- <div class="dropdown-icon">
                                 <i class="ri-community-line"></i>
                                </div> -->
                                <span class="dropdown-title">About Us   </span>
                                <ul class="dropdown-list">
                                 <li>
                                     <a href="/about-us"class="dropdown-link">About Us</a>
                                 </li>
                                 <li>
                                    <a href="/contact-us"class="dropdown-link">Contact Us</a>
                                </li>
                                 <li>
                                     <a href="/terms-of-use"class="dropdown-link">Terms of Use</a>
                                 </li>
                                 
                                </ul>
                             </div>
                             
                             <div class="dropdown-group">
                                 <!-- <div class="dropdown-icon">
                                     <i class="ri-shield-line"></i>
                                 </div> -->
                                 <span class="dropdown-title">Safety and Quality   </span>
                                 <ul class="dropdown-list">  
                                  <li>
                                      <a href="/privacy-policy"class="dropdown-link">Privacy Policy</a>
                                  </li>
                                 </ul>
                              </div>
             
             
                         </div>
                     </div>
             
                 </li>
                 <li class="dropdown-item">
                    <div class="nav-link dropdown-button">
                        Legal Info<i class="ri-arrow-down-s-line dropdown-arrow"></i>
                    </div>
            
                    <div class="dropdown-container">
                        <div class="dropdown-content">
            
                            <div class="dropdown-group">
                               <!-- <div class="dropdown-icon">
                                <i class="ri-community-line"></i>
                               </div> -->
                               <span class="dropdown-title">Sections   </span>
                               <ul class="dropdown-list">
                                <li>
                                    <a href="/allipc"class="dropdown-link">IPC Sections</a>
                                </li>
                                <li>
                                   <a href="/crpclist" class="dropdown-link">CRPC Sections</a>
                               </li>
                                <li>
                                    <a href="/bns"class="dropdown-link">BNS Sections</a>
                                </li>
                                
                               </ul>
                            </div>
                            
                     
            
                        </div>
                    </div>
            
                </li>
                 <li class="dropdown-item item-5">
                   
                    <a class="nav-link dropdown-button" href="/articles">Articles</a> 
                    
                 </li> 
                 <li class="dropdown-item item-5" >
                   <a class="nav-link dropdown-button" href="/userAccount">My Account</a> 
                         <!-- <i class="ri-arrow-down-s-line dropdown-arrow"></i> -->
                 

                 </li>
               </ul>
         </div>
    </nav>
</header>

<script>
    document.getElementsByClassName('logo').addEventListener('click', function() {
        window.location.href = '/';
    });
</script>

