<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iLegal Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css">
    <link rel="icon" type="image/png" href="../uploads/logo.png">
        <link rel="stylesheet" href="bnschapters.css">
        
</head>
<body>
 
    <%- include('partials/header') %>
  <div class="body">   
     <div class="main-body">
        
       <div class="ipc-container">
        <div class="search-box-container">
            <div class="search-box">
             <form action="#">
               <input type="search" name="search" placeholder="Search for BNS Chapters" id="search">
               <i class="fa-solid fa-magnifying-glass"></i>
               </form>
            </div>
          </div>
        <div class="ipc-heading">
             <h1>BNS Chapters </h1>
        </div>
        <div class="ipc-box">
            <ul class="ipc-list">
                <li>
                    <span class="arrow">➤</span>
                    <span class="crpc-link">
                        <a href="bns_sections?chapter=1">
                            <span class="crpc-chp">BNS chapter 1 - Preliminary</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="arrow">➤</span>
                    <span class="crpc-link">
                        <a href="bns_sections?chapter=2">
                            <span class="crpc-chp">BNS chapter 2 - Punishments</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="arrow">➤</span>
                    <span class="crpc-link">
                        <a href="bns_sections?chapter=3">
                            <span class="crpc-chp">BNS chapter 3 - General Exceptions</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="arrow">➤</span>
                    <span class="crpc-link">
                        <a href="bns_sections?chapter=4">
                            <span class="crpc-chp">BNS chapter 4 - Abetment, Criminal Conspiracy And Attempt</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="arrow">➤</span>
                    <span class="crpc-link">
                        <a href="bns_sections?chapter=5">
                            <span class="crpc-chp">BNS chapter 5 - Offences Against Woman And Children</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="arrow">➤</span>
                    <span class="crpc-link">
                        <a href="bns_sections?chapter=6">
                            <span class="crpc-chp">BNS chapter 6 - Offences Affecting The Human Body</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="arrow">➤</span>
                    <span class="crpc-link">
                        <a href="bns_sections?chapter=7">
                            <span class="crpc-chp">BNS chapter 7 - Offences against the state</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="arrow">➤</span>
                    <span class="crpc-link">
                        <a href="bns_sections?chapter=8">
                            <span class="crpc-chp">BNS chapter 8 - Offences relating to The Army, Navy and Air Force</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="arrow">➤</span>
                    <span class="crpc-link">
                        <a href="bns_sections?chapter=9">
                            <span class="crpc-chp">BNS chapter 9 - Offences relating to Elections</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="arrow">➤</span>
                    <span class="crpc-link">
                        <a href="bns_sections?chapter=10">
                            <span class="crpc-chp">BNS chapter 10 - Offences relating to Coin, Currency Notes, Bank Notes, and Government Stamps</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="arrow">➤</span>
                    <span class="crpc-link">
                        <a href="bns_sections?chapter=11">
                            <span class="crpc-chp">BNS chapter 11 - Offences against The Public Tranquillity</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="arrow">➤</span>
                    <span class="crpc-link">
                        <a href="bns_sections?chapter=12">
                            <span class="crpc-chp">BNS chapter 12 - Offences by or Relating to Public Servants</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="arrow">➤</span>
                    <span class="crpc-link">
                        <a href="bns_sections?chapter=13">
                            <span class="crpc-chp">BNS chapter 13 - Contempts of The Lawful Authority Of Public Servants</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="arrow">➤</span>
                    <span class="crpc-link">
                        <a href="bns_sections?chapter=14">
                            <span class="crpc-chp">BNS chapter 14 - False Evidence and Offences Against Public Justice</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="arrow">➤</span>
                    <span class="crpc-link">
                        <a href="bns_sections?chapter=15">
                            <span class="crpc-chp">BNS chapter 15 - Offences Affecting The Public Health, Safety, Convenience, Decency and Morals</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="arrow">➤</span>
                    <span class="crpc-link">
                        <a href="bns_sections?chapter=16">
                            <span class="crpc-chp">BNS chapter 16 - Offences relating to Religion</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="arrow">➤</span>
                    <span class="crpc-link">
                        <a href="bns_sections?chapter=17">
                            <span class="crpc-chp">BNS chapter 17 - Offences against Property</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="arrow">➤</span>
                    <span class="crpc-link">
                        <a href="bns_sections?chapter=18">
                            <span class="crpc-chp">BNS chapter 18 - Offences relating to Documents and To Property Marks</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="arrow">➤</span>
                    <span class="crpc-link">
                        <a href="bns_sections?chapter=19">
                            <span class="crpc-chp">BNS chapter 19 - Criminal Intimidation, Insult, Annoyance, Defamation, etc.</span>
                        </a>
                    </span>
                </li>
                <li>
                    <span class="arrow">➤</span>
                    <span class="crpc-link">
                        <a href="bns_sections?chapter=20">
                            <span class="crpc-chp">BNS chapter 20 - Repeal and Savings</span>
                        </a>
                    </span>
                </li>
            </ul>
            
            
        </div>
       </div>
       
       
        </div>
        <%- include('partials/footer') %>
          
    </div>
  
     

    <script >
  

        const showmenu=(toggleId, navId) =>{
    const toggle = document.getElementById(toggleId),
          nav=document.getElementById(navId);

          toggle.addEventListener('click',()=>{
               nav.classList.toggle('show-menu');
               toggle.classList.toggle('show-icon');

          })

}
showmenu('nav-toggle','nav-menu');

const dropdownItems = document.querySelectorAll('.dropdown-item')

dropdownItems.forEach((item)=>{
    const dropdownButton= item.querySelector('.dropdown-button');
    
    dropdownButton.addEventListener('click',()=>{
         const showDropdown= document.querySelector('.show-dropdown')

         toggleItem(item);

         if(showDropdown && showDropdown!==item){
           toggleItem(showDropdown)
         }
    })
})

const toggleItem = (item) =>{
     const dropdownContainer = item.querySelector('.dropdown-container');
     
     if(item.classList.contains('show-dropdown')){
          dropdownContainer.removeAttribute('style');
          item.classList.remove('show-dropdown');
     }
     else{
         
     dropdownContainer.style.height=dropdownContainer.scrollHeight +'px';
     item.classList.add('show-dropdown'); 
     }


    
}
const mediaQuery=matchMedia('(min-width:1118px)'),
 dropdownContainer=document.querySelectorAll('.dropdown-container')

 const removeStyle=()=>{
     if(mediaQuery.matches){
          dropdownContainer.forEach((e)=>{
             e.removeAttribute('style');
          })

          dropdownContainer.forEach((e)=>{
               e.classList.remove('show-dropdown');
            })
          
     }
 }
 addEventListener('resize',removeStyle);

const crpcChp=document.querySelector(".crpc-chp");
const crpcSections=document.querySelector(".crpc-sub-chapters");

crpcChp.onclick= () => {
   crpcSections.classList.toggle("crpc-subsec-active")
}

 

    </script>
</body>
</html>