<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iLegal Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" href="../uploads/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css">

        <link rel="stylesheet" href="crpclist.css">
        
</head>
<body>
 
<%- include('partials/header') %>
  <div class="body">   
     <div class="main-body">
        
       <div class="ipc-container">
       
        <div class="ipc-heading">
             <h1>CRPC Sections </h1>
        </div>
        <div class="ipc-box">
              <ul class="ipc-list">
              
                
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=1">
                        <span class="crpc-chp">CRPC chapter 1 - Preamble and Preliminary</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=2">
                        <span class="crpc-chp">CRPC chapter 2 - Constitution of Criminal Courts and Offices</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=3">
                        <span class="crpc-chp">CRPC chapter 3 - Power of Courts</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=4">
                        <span class="crpc-chp">CRPC chapter 4 - Power of Superior Officers of Police & Aid to Magistrates and Police</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=5">
                        <span class="crpc-chp">CRPC chapter 5 - Arrest of Persons</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=6">
                        <span class="crpc-chp">CRPC chapter 6 - Processes to Compel Appearance</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=7">
                        <span class="crpc-chp">CRPC chapter 7 - Processes to Compel the Production of Things</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=7A">
                        <span class="crpc-chp">CRPC chapter 7A - Reciprocal Arrangements,Procedure for Attachment and Forfeiture of Property</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=8">
                        <span class="crpc-chp">CRPC chapter 8 - Security for Keeping the Peace and for Good Behaviour</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=9">
                        <span class="crpc-chp">CRPC chapter 9 - Order for Maintenance of Wives, Children and Parents</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=10">
                        <span class="crpc-chp">CRPC chapter 10 - Maintenance of Public Order and Tranquillity</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=11">
                        <span class="crpc-chp">CRPC chapter 11 - Preventive Action of the Police</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=12">
                        <span class="crpc-chp">CRPC chapter 12 - Information to the Police and Their Powers to Investigate</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=13">
                        <span class="crpc-chp">CRPC chapter 13 - Jurisdiction of Criminal Courts in Inquiries and Trials</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=14">
                        <span class="crpc-chp">CRPC chapter 14 - Conditions Requisite for Initiation of Proceedings</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=15">
                        <span class="crpc-chp">CRPC chapter 15 - Complaints to Magistrates</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=16">
                        <span class="crpc-chp">CRPC chapter 16 - Commencement of Proceedings before Magistrates</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=17">
                        <span class="crpc-chp">CRPC chapter 17 - The Charge</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=18">
                        <span class="crpc-chp">CRPC chapter 18 - Trial before a Court of Session</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=19">
                        <span class="crpc-chp">CRPC chapter 19 - Trial of Warrant-Cases by Magistrates</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=20">
                        <span class="crpc-chp">CRPC chapter 20 - Trial of Summons-Cases by Magistrates</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=21">
                        <span class="crpc-chp">CRPC chapter 21 - Summary Trials</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=21A">
                        <span class="crpc-chp">CRPC chapter 21A - Plea Bargaining</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=22">
                        <span class="crpc-chp">CRPC chapter 22 - Attendance of Persons Confined or Detained in Prisons</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=23">
                        <span class="crpc-chp">CRPC chapter 23 - Evidence in Inquiries and Trials</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=24">
                        <span class="crpc-chp">CRPC chapter 24 - General Provisions as to Inquiries and Trials</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=25">
                        <span class="crpc-chp">CRPC chapter 25 - Provisions as to Accused Persons of Unsound Mind</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=26">
                        <span class="crpc-chp">CRPC chapter 26 - Provisions as to Offences Affecting the Administration of Justice</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=27">
                        <span class="crpc-chp">CRPC chapter 27 - The Judgment</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=28">
                        <span class="crpc-chp">CRPC chapter 28 - Submission of Death Sentences for Confirmation</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=29">
                        <span class="crpc-chp">CRPC chapter 29 - Appeals</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=30">
                        <span class="crpc-chp">CRPC chapter 30 - Reference and Revision</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=31">
                        <span class="crpc-chp">CRPC chapter 31 - Transfer of Criminal Cases</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=32">
                        <span class="crpc-chp">CRPC chapter 32 - Execution, Suspension, Remission, and Commutation of Sentences</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=33">
                        <span class="crpc-chp">CRPC chapter 33 - Provisions as to Bail and Bonds</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=34">
                        <span class="crpc-chp">CRPC chapter 34 - Disposal of Property</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=35">
                        <span class="crpc-chp">CRPC chapter 35 - Irregular Proceedings</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=36">
                        <span class="crpc-chp">CRPC chapter 36 - Limitation for Taking Cognizance of Certain Offences</span>
                      </a>
                      </span>
                    </li>
                    <li>
                      <span class="arrow">➤</span>
                      <span class="crpc-link">
                        <a href="/crpc?chapter=37">
                        <span class="crpc-chp">CRPC chapter 37 - Miscellaneous</span>
                      </a>
                      </span>
                    </li>
                
                  
              
                  
               
                
                
              
               
              </ul>
        </div>
       </div>
       
       
        </div>
       <%- include('partials/footer') %>
          
    </div>
  
     

    <script >
  

        const showmenu=(toggleId, navId) =>{
    const toggle = document.getElementById(toggleId),
          nav=document.getElementById(navId);

          toggle.addEventListener('click',()=>{
               nav.classList.toggle('show-menu');
               toggle.classList.toggle('show-icon');

          })

}
showmenu('nav-toggle','nav-menu');

const dropdownItems = document.querySelectorAll('.dropdown-item')

dropdownItems.forEach((item)=>{
    const dropdownButton= item.querySelector('.dropdown-button');
    
    dropdownButton.addEventListener('click',()=>{
         const showDropdown= document.querySelector('.show-dropdown')

         toggleItem(item);

         if(showDropdown && showDropdown!==item){
           toggleItem(showDropdown)
         }
    })
})

const toggleItem = (item) =>{
     const dropdownContainer = item.querySelector('.dropdown-container');
     
     if(item.classList.contains('show-dropdown')){
          dropdownContainer.removeAttribute('style');
          item.classList.remove('show-dropdown');
     }
     else{
         
     dropdownContainer.style.height=dropdownContainer.scrollHeight +'px';
     item.classList.add('show-dropdown'); 
     }


    
}
const mediaQuery=matchMedia('(min-width:1118px)'),
 dropdownContainer=document.querySelectorAll('.dropdown-container')

 const removeStyle=()=>{
     if(mediaQuery.matches){
          dropdownContainer.forEach((e)=>{
             e.removeAttribute('style');
          })

          dropdownContainer.forEach((e)=>{
               e.classList.remove('show-dropdown');
            })
          
     }
 }
 addEventListener('resize',removeStyle);

const crpcChp=document.querySelector(".crpc-chp");
const crpcSections=document.querySelector(".crpc-sub-chapters");

crpcChp.onclick= () => {
   crpcSections.classList.toggle("crpc-subsec-active")
}

 

    </script>
</body>
</html>
