<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" href="../uploads/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css">

        <link rel="stylesheet" href="privacy_policy.css">
</head>
<body>
    <%-include('partials/header')%>
    <div class="body">
        <div class="main-body">
            <div class="main-container-0">
                <div class="main-container">
                     <div class="content-heading headings">
                        <h1>Privacy Policy</h1>
                     </div>
                     <div class="content-container">
                        <div class="c-1 headings">
                            <p>Welcome to iLegalAdvice.com. Your privacy is of utmost importance to us, and we are committed to protecting your personal information. This Privacy Policy outlines how we collect, use, store, and protect your information when you visit our website and utilize our services. By using iLegalAdvice.com, you agree to the terms of this Privacy Policy.
                            </p>
                        </div>
                        <div class="c-2">
                            <div class="c-2-s-1 headings">
                                <h3>Information We Collect</h3>
                                <p>
                                    We collect various types of information to provide you with a better user experience and improve our services:
                                </p>
                            </div>
                            <div class="c-2-s-2 headings">
                                <h4>personal information</h4>
                                <p>When you interact with our website, such as when you register for an account, contact us, or use our services, we may collect personal information, including but not limited to:</p>
                                <ul>
                                    <li>
                                        <p><strong>1.Name:</strong> <span> To personalize your experience and communicate effectively.

                                        </span></p>
                                    </li>
                                    <li>
                                        <p><strong>2.Email Address: </strong> <span>To send you important updates, newsletters, and service-related communications.
                                        </span></p>
                                    </li>
                                    <li>
                                        <p><strong>3.Phone Number: </strong> <span> For direct communication regarding your inquiries and lawyer interactions.
                                        </span></p>
                                    </li>
                                    <li>
                                        <p><strong>4.Location Information: </strong> <span> To help you find lawyers based on your geographic area or city.
                                            
                                        </span></p>
                                    </li>
                                </ul>
                            </div>
                            <div class="c-2-s-3 headings">
                                <h4>Usage Information</h4>
                                <p>We automatically collect information about your interactions with our website to help us understand how our services are being used. This may include:</p>
                                <ul>
                                    <li>
                                        <p><strong>1.IP Address:</strong> <span> A unique identifier for your device, which helps us analyze traffic patterns and diagnose server issues.

                                        </span></p>
                                    </li>
                                    <li>
                                        <p><strong>2.Browser Type and Version: </strong> <span>Information about the software you use to access our site, which aids in optimizing user experience.
                                        </span></p>
                                    </li>
                                    <li>
                                        <p><strong>3.Operating System:</strong> <span>Details about the system running on your device, ensuring compatibility with our website.

                                        </span></p>
                                    </li>
                                    <li>
                                        <p><strong>4.Referring URLs: </strong> <span>  The web pages that led you to our site, allowing us to track the effectiveness of our marketing efforts.
                                            
                                        </span></p>
                                    </li>
                                    <li>
                                        <p><strong>5.Pages Visited: </strong> <span>  Information about which pages you visit on our site, helping us understand user preferences and improve navigation.
                                            
                                        </span></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="c-3">
                            <div class="c-3-s-1 headings">
                                <h4>Cookies and Tracking Technologies
                                </h4>
                                <p>
                                    We use cookies and similar tracking technologies to enhance your experience on our website. Cookies are small data files stored on your device that help us remember your preferences and understand how you interact with our site. For more information on how we use cookies, please refer to our Cookie Policy.
                                </p>
                            </div>
                           
                        </div>
                        <div class="c-4">
                            <div class="c-4-s-1 headings">
                                <h4>How We Use Your Information</h4>
                                <p>We utilize your information for various purposes to improve our services and enhance user experience:</p>
                                <ul>
                                    <li>
                                        <p><strong>1.To Provide and Improve Our Services:</strong> <span> Your personal information is essential for connecting you with the right lawyers, facilitating communication, and improving the overall quality of our services.


                                        </span></p>
                                    </li>
                                    <li>
                                        <p><strong>2.To Communicate with You:</strong> <span>We may use your contact information to send you important updates about our services, newsletters, promotional materials, and other information that may be of interest to you.

                                        </span></p>
                                    </li>
                                    <li>
                                        <p><strong>3.To Personalize Your Experience:</strong> <span> By using cookies and tracking technologies, we tailor our services and recommendations to better meet your individual preferences and needs.
                                            To Analyze Usage Data: We analyze usage data to understand trends, user behavior, and areas for improvement, allowing us to enhance our website and services continuously.
                                        </span></p>
                                    </li>
                                  
                                </ul>
                            </div>
                        
                        </div>
                        <div class="c-5">
                           <div class="c-5-s-1 headings">
                            <h4> Sharing Your Information</h4>
                            <p> We value your privacy and will not sell, trade, or otherwise transfer your personal information to outside parties except in the following circumstances:</p>
                           </div>
                           <ul>
                            <li>
                                <p><strong>1.With Lawyers:</strong> <span>  When you select a lawyer from our platform, we share your contact and inquiry details with the chosen lawyer to facilitate direct communication and ensure a smooth engagement process.



                                </span></p>
                            </li>
                            <li>
                                <p><strong>2.With Service Providers:</strong> <span>We may share your information with trusted third-party service providers who assist us in operating our website, conducting our business, or providing services to you. These service providers are bound by confidentiality agreements and are prohibited from using your information for any other purpose.

                                </span></p>
                            </li>
                            <li>
                                <p><strong>3.For Legal Compliance:</strong> <span> We may disclose your information when required to do so by law or in response to valid requests by public authorities, including to comply with a subpoena or similar legal process. Additionally, we may disclose your information to protect our rights, property, or safety, or that of others.


                                </span></p>
                            </li>
                          
                        </ul>
                        </div>
                        <div class="c-6">
                            <div class="c-6-s-1 headings">
                                <h4>Data Security</h4>
                                <p> The security of your personal information is a top priority for us. We implement a variety of security measures to protect your data from unauthorized access, alteration, disclosure, or destruction. These measures include:</p>
                                <ul>
                                    <li>
                                        <p><strong>1.Data Encryption:</strong> <span>   We utilize encryption protocols to protect sensitive information transmitted over the internet.
        
        
        
                                        </span></p>
                                    </li>
                                    <li>
                                        <p><strong>2.Access Controls:</strong> <span> We restrict access to your personal information to authorized personnel only, ensuring that your data is handled responsibly and securely.

        
                                        </span></p>
                                    </li>
                                    <li>
                                        <p><strong>3.Regular Security Audits:</strong> <span>We conduct regular security assessments to identify and address potential vulnerabilities in our systems. Despite these measures, please be aware that no method of transmission over the Internet or electronic storage is 100% secure, and we cannot guarantee absolute security.

                                        </span></p>
                                    </li>
                                  
                                </ul>
                            </div>
                            
                        </div>
                        <div class="c-7">
                            <div class="c-7-s-1 headings">
                                <h4>Your Choices and Rights</h4>
                                <p>As a user of iLegalAdvice.com, you have specific rights regarding your personal information:</p>
                                <ul>
                                    <li>
                                        <p><strong>1.Access and Update:</strong> <span>  You have the right to access your personal information held by us and request corrections or updates. You can do this by logging into your account or contacting us directly.

        
        
        
                                        </span></p>
                                    </li>
                                    <li>
                                        <p><strong>2.Opt-Out:</strong> <span> You can opt out of receiving promotional emails from us at any time by following the unsubscribe instructions included in those emails or by contacting us directly. Please note that even if you opt out of promotional communications, we may still send you important service-related messages.

        
                                        </span></p>
                                    </li>
                                    <li>
                                        <p><strong>3.Delete:</strong> <span>You have the right to request the deletion of your personal information. Please contact us to initiate this process, and we will comply with your request, subject to any legal and contractual obligations we may have.


                                        </span></p>
                                    </li>
                                  
                                </ul>
                            </div>
                          
                        </div>
                        <div class="c-8">
                            <div class="c-8-s-1 headings"><h4>Third-Party Links</h4>
                            <p>Our website may contain links to third-party websites that are not operated by us. We have no control over the content and practices of these websites and cannot accept responsibility for their privacy policies. We encourage you to review the privacy policies of any third-party sites you visit to understand how they collect and use your information.</p>
                            </div>
                            
                        </div>
                        <div class="c-9">
                            <div class="c-9-s-1 headings"><h4> Changes to This Privacy Policy</h4>
                            <p>We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. Any changes will be effective immediately upon posting on this page. We encourage you to periodically review this Privacy Policy to stay informed about our information practices. Your continued use of the website after such changes signifies your acceptance of the updated policy.

                            </p>
                            </div>
                            
                        </div>
                        <div class="c-10">
                            <div class="c-10-s-1 headings"><h4> Contact Us</h4>
                            <p>If you have any questions, concerns, or requests regarding this Privacy Policy or our data practices, please feel free to contact us at:

                            </p>
                            <ul>
                                <li>
                                    <p><strong>Email:</strong> <span>   ilegaladvice26@gmail.com
    
    
    
                                    </span></p>
                                </li>
                                <li>
                                    <p><strong>Contact:</strong> <span> 8779642973 | 9372294445

    
                                    </span></p>
                                </li>
                                <li>
                                    <p>
                                        By using iLegalAdvice.com, you acknowledge that you have read, understood, and agree to this Privacy Policy and our practices regarding your personal information.
                                    </p>
                                </li>
                              
                            </ul>
                            </div>
                            
                        </div>
                        
                     </div>
                </div>
            </div>  
        </div>
        <%-include('partials/footer')%>
    </div>
    <script>
        const showmenu=(toggleId, navId) =>{
const toggle = document.getElementById(toggleId),
      nav=document.getElementById(navId);

      toggle.addEventListener('click',()=>{
           nav.classList.toggle('show-menu');
           toggle.classList.toggle('show-icon');

      })

}
showmenu('nav-toggle','nav-menu');

const dropdownItems = document.querySelectorAll('.dropdown-item')

dropdownItems.forEach((item)=>{
const dropdownButton= item.querySelector('.dropdown-button');

dropdownButton.addEventListener('click',()=>{
     const showDropdown= document.querySelector('.show-dropdown')

     toggleItem(item);

     if(showDropdown && showDropdown!==item){
       toggleItem(showDropdown)
     }
})
})

const toggleItem = (item) =>{
 const dropdownContainer = item.querySelector('.dropdown-container');
 
 if(item.classList.contains('show-dropdown')){
      dropdownContainer.removeAttribute('style');
      item.classList.remove('show-dropdown');
 }
 else{
     
 dropdownContainer.style.height=dropdownContainer.scrollHeight +'px';
 item.classList.add('show-dropdown'); 
 }



}
const mediaQuery=matchMedia('(min-width:1118px)'),
dropdownContainer=document.querySelectorAll('.dropdown-container')

const removeStyle=()=>{
 if(mediaQuery.matches){
      dropdownContainer.forEach((e)=>{
         e.removeAttribute('style');
      })

      dropdownContainer.forEach((e)=>{
           e.classList.remove('show-dropdown');
        })
      
 }
}
addEventListener('resize',removeStyle);
</script>
</body>
</html>