<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.css">
    <link rel="icon" type="image/png" href="../uploads/logo.png">
        <link rel="stylesheet" href="terms-of-use.css">
</head>
<body>
    <%-include('partials/header')%>
    <div class="body">
        <div class="main-body">
            <div class="main-container-0">
                <div class="main-container">
                     <div class="content-heading headings">
                        <h1>General Terms and Conditions</h1>
                     </div>
                     <div class="content-container">
                        <div class="c-1 headings">
                            <p>By accessing and using iLegalAdvice.com, you accept and agree to be bound by these Terms and Conditions. If you do not agree to these terms, please do not use our website. These terms apply to all users of the site, including but not limited to visitors, registered users, and lawyers.
                            </p>
                        </div>
                        <div class="c-2">
                            <div class="c-2-s-1 headings">
                                <h4>Use of the Website</h4>
                                <ul>
                                    <li>
                                        <p><strong>Eligibility:</strong> <span>You must be at least 18 years old to use this website. By using our website, you represent and warrant that you meet this requirement.

                                        </span></p>
                                    </li>
                                    <li>
                                        <p><strong>User Conduct:</strong> <span> You agree to use the website only for lawful purposes and in a manner that does not infringe the rights of or restrict the use and enjoyment of this site by any third party. Prohibited behavior includes harassing or causing distress or inconvenience to any other user, transmitting obscene or offensive content, or disrupting the normal flow of dialogue within our website.

                                        </span></p>
                                    </li>
                              
                                </ul>
                            </div>
                         
                         
                        </div>
                        <div class="c-3">
                            <div class="c-3-s-1 headings">
                                <h4>Services Provided
                                </h4>
                                <p>
                                    iLegalAdvice.com serves as an intermediary platform connecting users with top-rated lawyers across India. We provide:
                                </p>
                                <ul>
                                    <li>
                                        <p><strong>Lawyer Listings:</strong> <span>  Detailed profiles of lawyers, searchable by specialization, city, or court name. These profiles are provided strictly for informational purposes and are not intended for marketing or advertisement. We aim to offer users a transparent and unbiased platform to make informed decisions about legal services based on objective information.



                                        </span></p>
                                    </li>
                                    <li>
                                        <p><strong>Legal Articles:</strong> <span>Informative articles written by experienced legal professionals.
                                            IPC Sections Database: A comprehensive database of Indian Penal Code (IPC) sections for educational purposes.
                                            

                                        </span></p>
                                    </li>
                                    <li>
                                        <p><strong>Please Note: </strong> <span> We do not provide legal services, legal advice, or lawyer referral services. Additionally, we do not engage in or facilitate any form of legal representation.
                                        </span></p>
                                    </li>
                                  
                                </ul>
                            </div>
                           
                        </div>
                        <div class="c-4">
                            <div class="c-4-s-1 headings">
                                <h4>Lawyer Listings and Profiles</h4>
                                <ul>
                                    <li>
                                        <p><strong>Accuracy of Information: </strong> <span>While we strive to ensure the information provided by lawyers on our platform is accurate, we do not guarantee the completeness, accuracy, or reliability of any lawyer profiles or the information contained therein.


                                        </span></p>
                                    </li>
                                    <li>
                                        <p><strong>No Endorsement:</strong> <span> The inclusion of lawyers on iLegalAdvice.com does not constitute an endorsement or recommendation by us. We do not warrant or make any representations regarding the quality of services provided by listed lawyers.

                                        </span></p>
                                    </li>
                                    <li>
                                        <p><strong>Informational Purpose:</strong> <span> The lawyers displayed on our website are not featured as a form of advertisement or marketing; rather, they are presented for informational purposes to assist users in making well-informed choices when seeking legal assistance.

                                        </span></p>
                                    </li>
                                  
                                </ul>
                            </div>
                        
                        </div>
                        <div class="c-5">
                           <div class="c-5-s-1 headings">
                            <h4> User Interactions</h4>
                            <ul>
                                <li>
                                    <p><strong>Contact Information: </strong> <span> When you select a lawyer, we will share your contact and enquiry details with the chosen lawyer and provide you with the lawyer’s contact details. This facilitates direct communication between you and the lawyer.
    
    
    
    
                                    </span></p>
                                </li>
                                <li>
                                    <p><strong>Direct Communication: </strong> <span>You are responsible for directly contacting and communicating with the selected lawyer to discuss your legal issues. All engagements between you and the lawyer are solely between you and the lawyer, and iLegalAdvice.com is not involved in or responsible for any part of the interactions or agreements.
    
                                    </span></p>
                                </li>
                           
                              
                            </ul>
                           </div>
                          
                        </div>
                        <div class="c-6">
                            <div class="c-6-s-1 headings">
                                <h4> Content</h4>
                              
                                <ul>
                                    <li>
                                        <p><strong>Articles: </strong> <span>The articles available on iLegalAdvice.com are written by legal experts and are intended solely for informational purposes. These articles do not constitute legal advice and should not be relied upon as such.
        
        
        
                                        </span></p>
                                    </li>
                                    <li>
                                        <p><strong>IPC Sections:</strong> <span>  Our database of IPC sections is provided for educational purposes only. While we aim to keep this information accurate and up-to-date, we do not guarantee its completeness or timeliness.

        
                                        </span></p>
                                    </li>
                           
                                  
                                </ul>
                            </div>
                            
                        </div>
                        <div class="c-7">
                            <div class="c-7-s-1 headings">
                                <h4> Limitation of Liability</h4>
                                <p>To the fullest extent permitted by law, iLegalAdvice.com shall not be liable for any direct, indirect, incidental, special, consequential, or punitive damages arising out of your access to or use of the website or the services of any lawyer listed on our platform. This includes, but is not limited to, any errors or omissions in content, loss of data, loss of goodwill, or any interruption or cessation of service.</p>
                           
                            </div>
                          
                        </div>
                        <div class="c-8">
                            <div class="c-8-s-1 headings"><h4>Privacy Policy</h4>
                            <p>Your use of our website is also governed by our Privacy Policy, which is incorporated into these Terms and Conditions by reference. Our Privacy Policy outlines how we collect, use, and protect your personal information. By using our website, you consent to our collection and use of your information as described in the Privacy Policy.</p>
                            </div>
                            
                        </div>
                        <div class="c-9">
                            <div class="c-9-s-1 headings"><h4>Social Responsibility</h4>
                            <p>iLegalAdvice.com was created to serve as a vital social resource, helping people avoid legal issues and improve their understanding of rights and responsibilities under the law. By providing accessible, accurate, and objective legal information and lawyer profiles, we empower individuals to make informed decisions and take proactive steps to avoid potential legal troubles. Our mission is rooted in the belief that accessible legal information can contribute to a more informed and just society.</p>
                            </div>
                            
                        </div>
                        <div class="c-10">
                            <div class="c-10-s-1 headings"><h4> Modifications to Terms and Conditions
                            </h4>
                            <p>We reserve the right to modify these Terms and Conditions at any time. Any changes will be effective immediately upon posting on this page. Your continued use of the website after such modifications signifies your acceptance of the new terms. It is your responsibility to regularly review these Terms and Conditions to stay informed of any updates.

                            </p>
                            </div>
                            
                        </div>
                        <div class="c-11-s-1">
                            <div class="c-11-s-1 headings"><h4> Governing Law
                            </h4>
                            <p>These Terms and Conditions are governed by and construed in accordance with the laws of India. Any disputes arising from these terms shall be subject to the exclusive jurisdiction of the courts in India.

                            </p>
        
                            </div>
                            
                        </div>
                        <div class="c-12">
                            <div class="c-12-s-1 headings"><h4> Disclaimer
                            </h4>
                            <p>iLegalAdvice.com is not a law firm and does not provide legal services or legal advice. The content on our website, including lawyer profiles, articles, and IPC sections, is for informational purposes only and does not constitute legal advice. We do not endorse any specific lawyer or guarantee the quality of legal services provided by lawyers listed on our platform. All legal engagements are solely between you and the lawyer. We are not responsible for any disputes or issues that may arise from your use of our platform or the services provided by any lawyer listed on our site.

                            </p>
                            <p>iLegalAdvice.com is not, directly or indirectly, responsible for the advice and assistance provided by the lawyers. We are an independent third-party enabler that has built a platform for clients to communicate with, and if necessary, meet the lawyers. iLegalAdvice.com has no control over the services provided by the lawyers and will not be responsible for any issues or discrepancies with the services provided by the lawyers.</p>
                            </div>
                            
                        </div>
                        <div class="c-13">
                            <div class="c-13-s-1 headings"><h4> Contact Information
                            </h4>
                            <p>If you have any questions or concerns about these Terms and Conditions, please contact us at ilegaladvice26@gmail.com

                            </p>
                             <p>
                                By using iLegalAdvice.com, you acknowledge that you have read, understood, and agree to be bound by these detailed Terms and Conditions.
                             </p>
                            </div>
                            
                        </div>
                        
                     </div>
                </div>
            </div>  
        </div>
        <%-include('partials/footer')%>
    </div>
    <script>
        const showmenu=(toggleId, navId) =>{
const toggle = document.getElementById(toggleId),
      nav=document.getElementById(navId);

      toggle.addEventListener('click',()=>{
           nav.classList.toggle('show-menu');
           toggle.classList.toggle('show-icon');

      })

}
showmenu('nav-toggle','nav-menu');

const dropdownItems = document.querySelectorAll('.dropdown-item')

dropdownItems.forEach((item)=>{
const dropdownButton= item.querySelector('.dropdown-button');

dropdownButton.addEventListener('click',()=>{
     const showDropdown= document.querySelector('.show-dropdown')

     toggleItem(item);

     if(showDropdown && showDropdown!==item){
       toggleItem(showDropdown)
     }
})
})

const toggleItem = (item) =>{
 const dropdownContainer = item.querySelector('.dropdown-container');
 
 if(item.classList.contains('show-dropdown')){
      dropdownContainer.removeAttribute('style');
      item.classList.remove('show-dropdown');
 }
 else{
     
 dropdownContainer.style.height=dropdownContainer.scrollHeight +'px';
 item.classList.add('show-dropdown'); 
 }



}
const mediaQuery=matchMedia('(min-width:1118px)'),
dropdownContainer=document.querySelectorAll('.dropdown-container')

const removeStyle=()=>{
 if(mediaQuery.matches){
      dropdownContainer.forEach((e)=>{
         e.removeAttribute('style');
      })

      dropdownContainer.forEach((e)=>{
           e.classList.remove('show-dropdown');
        })
      
 }
}
addEventListener('resize',removeStyle);
</script>
</body>
</html>