@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


:root{

 --header-height:3.5rem;   

/* fonts */
--body-font:'Poppins', sans-serif;
--normal-font-size: .938rem;
--small-font-size: .813rem;
--smaller-font-size:.75rem;

/* color */
--first-color:hsl(228,68%,54%);
--first-color-lighten:hsl(220,68%,97%);
--title-color:hsl(220,48%,28%);
--text-color:hsl(220,12%,45%);
--body-color:hsl(220,100%,99%);

/* font weight */
--font-medium:500;
--font-semi-bold:600;

/* z-index */
--z-tooltip:10;
--z-fixed:100;

}
*{  box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    font-family: var(--body-font);
    font-size:var(--normal-body-font);
    background-color: var(--body-color);
    color: var(--text-color);
    background-color: rgb(226 226 226);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;

}

.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 8px hsla(220,68%,12%,.1);
    background-color: var(--body-color);
    z-index: var(--z-fixed); 
}
.nav{
    height: var(--header-height);

}
.nav-data{
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    right: 170px;
}
.nav-logo{
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color 0.3s;
}
.nav-logo i {
    font-size: 1.25rem;

}

.nav-toggle{
 position: relative;   
 width: 32px;
 height: 32px;

}
.nav-menu{
    padding-right: 2rem;
}
.nva-toggle-menu,
.nav-toggle-close{
    font-size: 1.25rem;
    color: var(--title-color);
    position: absolute;
    display: grid;
    place-items: center;
    inset: 0;
     cursor: pointer;
     transition: opacity 0.1s, transform 0.4s;
}
.nav-toggle-close{
    opacity: 0;

}



@media screen and (min-width : 1024px) {
    :root{
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
      
    }
    
}


/* Mobile devices */
@media  screen and (max-width:1118px) {
    .nav-menu{
        background-color: var(--body-color);
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        padding-block: 1.5rem 4rem;
        pointer-events: none;
        opacity: 0;
        transition: top 0.4s, opacity 0.3s;
        scrollbar-width: thin;
        scrollbar-color: hsl(220, 12%, 70%) var(--body-color);
}
    .nav-menu::-webkit-scrollbar{
        width: 0.5rem;
    }
    .nav-menu::-webkit-scrollbar-thumb{
         background-color: hsl(220,12%,70%);
    }
}
    .nav-link{
        color: rgb(165, 127, 32);
        font-weight: var(--font-semi-bold);
        padding: 1.25rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        transition: background-color 0.3s;
    }
  
    .show-menu{
        opacity: 1;
        top: 4rem;
        pointer-events: initial;
    }
    .show-icon .nav-toggle-menu{
        opacity: 0;
        transform: rotate(90deg);

    }
    .show-icon .nav-toggle-close{
        opacity: 1;
        transform: rotate(90deg);

    }
    .dropdown-button{
       cursor: pointer;  
    }
    .dropdown-arrow{
        font-size: 1.5rem;
        font-weight: initial;
        transition: transform .4s;

    }
    .dropdown-content, .dropdown-group, .dropdown-list{
         display: grid;

    }
    .dropdown-container{
         background-color: var(--first-color-lighten);
         height: 0;
         overflow: hidden;
         transition: height .4s;
    }
    .dropdown-content{
        row-gap: 1.75rem;
    }
    .dropdown-group{
        padding-left: 2.5rem;
         row-gap: 0.5rem;

    }
    .dropdown-group:first-child{
        margin-top: 1.25rem;

    }
    .dropdown-group:last-child{
        margin-bottom: 1.25rem;
    }
    .dropdown-icon i{
        font-size: 1.25rem;
        color: var(--first-color);
    }
    .dropdown-title{
        font-size: var(--small-font-size);
        font-weight: var(--font-semi-bold);
        color: goldenrod;
    }
    .dropdown-list{
        row-gap: 0.25rem;
    }
    .dropdown-link{
        font-size: var(--smaller-font-size);
        font-weight: var(--font-medium);
        color: #be9319;
        transition: color 0.3s;
    }
    .dropdown-link:hover{
        color: goldenrod;
        transform: translateX(0.25rem);
      
    }
    .show-dropdown .dropdown-arrow{
        transform: rotate(180deg);
    }


@media  screen and (max-width:300px) {
   .dropdown-group{
    padding-left: 1.5rem;
   }
}
@media screen and (min-width:1118px) {
    .nav{
        height:calc(var(--header-height) + 2rem);
        display: flex;
        justify-content: space-between;
    }
    .nav-toggle{
        display: none;
    }
    .nav-list{
        display: flex;
        column-gap: 3rem;
        height: 100%;

    }
    .nav li{
        display: flex;
    }
    .nav-link{
        padding: 0;

    }
    .nav-link{
        background-color: initial;
    }
    .dropdown-button{
        column-gap: 0.25rem;
        pointer-events: none;
    }
    .dropdown-container{
        height: max-content;
        position: absolute;
        left: 0;
        right: 0;
        top: 6.5rem;
        background-color: var(--body-color);
        box-shadow: 0px 6px 8px hsla(220,68%,12%,0.5);
        pointer-events: none;
        opacity: 0;
        transition: top 0.4s, opacity 0.3s ;
    }
    .dropdown-content{
             grid-template-columns: repeat(6, max-content);
        column-gap: 3rem;
        max-width: 1120px;
        margin-inline: auto;
    }
    .dropdown-group{
        padding: 4rem 0;
        align-items: baseline;
        row-gap: 1.25rem;

    }
    .dropdown-group:first-child,
    .dropdown-group:last-child{
        margin: 0;
    }
    .dropdown-list{
         row-gap: 0.75rem;
    }
    .dropdown-icon{
        width: 60px;
        height: 60px;
        background-color: var(--first-color-lighten);
        border-radius: 50%;
        display: grid;
        place-items: center;
        margin-bottom: 1rem;

    }
    .dropdown-icon i{
        font-size: 2rem;
    }
    .dropdown-title{
        font-size: var(--normal-font-size);
    }
    .dropdown-link{
        font-size: var(--small-font-size);
    }
    .dropdown-link:hover{
        color:goldenrod;
    }
    .dropdown-item{
        cursor: pointer;
    }
    .dropdown-item:hover .dropdown-arrow{
       transform: rotate(180deg);
    }

    .dropdown-item:hover > .dropdown-container{
        top: 5.5rem;
        opacity: 1;
        pointer-events: initial;
        cursor: initial;
    }
    
}
@media screen and (min-width:1152px) {
    .container{
        margin-inline: auto;
    }
}
.login-form-container-0{
position: absolute;
top: 60%;
left: 50%;
transform: translate(-50%,-50%);
}
.login-form-container{
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    max-width: 390px;
    overflow: hidden;
    row-gap: 1.5rem;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
}
.login-signup-title{
    display: flex;
    width: 200%;
}
.title-box{
    width: 50%;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-container{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
    overflow: hidden;
}
.slider-container{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    border-radius: 15px;
    border: 1px solid lightgrey;
    position: relative;
}
.slider-box{
    height: 100%;
    width: 100%;
    /* color: #fff; */
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}
.slider-container .slider{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 15px;
    background:linear-gradient(300deg, #efaa00, #e0a432,#e8b046);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
#signup:checked ~ .slider{
    left: 50%;
}
.login-slide{
    color: #fff;
}
#signup:checked ~ label.signup-slide{
    color: #fff;
    cursor: default;
    /* user-select: none; */
  }
#signup:checked ~ label.login-slide{
    color: var(--text-color);

  }
#login:checked ~ label.signup-slide{
    color: var(--text-color);
    
  }
#login:checked ~ label.login-slide{
    cursor: default;
    
  }
.inner-form-container{
    display: flex;
   width: 240%;
   column-gap: 1rem;
}
#login-form{
    width: 57%;
    
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
/* .client-login-slide{
    color: #fff;
}
.lawyer-login-slide{
    color: var(--text-color);
    cursor: pointer;
}
.slider-login{
    position: absolute;
    height: 100%;
    left: 0;
    z-index: 0;
    border-radius: 15px;
    background: -webkit-linear-gradient(left,#003366,#004080,#0059b3,#0073e6);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.client-lawyer-login-form{
    display: flex;
    column-gap: 5px;
    width: 141%;
}
.client-login-form{
    width: 49%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.client-slide{
    cursor: default;
}
.login-form{
    width: 57%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55) ;
} */
.input-field{
    height: 50px;
    width: 100%;
}
.input-field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 15px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}
.if-field{
    margin-top: 20px;
}
.pass-link{
   margin-top: 5px;
   margin-left: 6px;
}
.pass-link a{
    color: goldenrod;
    text-decoration: underline;
    margin-left: 5px;
}
.pass-link a:hover{
    text-decoration: underline;
}
#login-form .btn-container{
    height: 50px;
    width: 100%;
    margin-top: 64px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
.btn-container{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}
.btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: linear-gradient(300deg, #efaa00, #e0a432,#e8b046);
    border-radius: 15px;
    transition: all 0.4s ease;
}
.submit-btn{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    line-height: 48px;
}
.input-field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
  }
.input-field input:focus::placeholder{
    color: goldenrod;
}
.input-field input:focus{
    border-color: goldenrod;
    /* box-shadow: inset 0 0 3px #fb6aae; */
}

.not-a-mem{
    margin-top: 30px;
    text-align: center;
}
.not-a-mem a{
    color: goldenrod;
    text-decoration: underline;
}
.not-a-mem a:hover{
    text-decoration: underline;
}

.slider-container input{
    display: none;
}
#signup-form{
    display: flex;
   
    flex-direction: column;
    row-gap: 2rem;
}

.client-lawyer-signup-form{
    display: flex;
    column-gap: 1rem;
}
.sc-2{
    width: 52%;
    margin-left: -0.7%;
}
.client-signup{
    width: 68.8%;
    height: 300px;
    overflow: auto;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.lawyer-signup{
    height: 300px;
    overflow: auto;
    width: 55%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.signup-slider{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 15px;
    background: linear-gradient(300deg, #efaa00, #e0a432,#e8b046);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.client-slide{
    color: #fff;
    cursor: default;
}
.bio{
    height: 100px;
}
.input-field textarea{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 15px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}
.input-field textarea::placeholder{
    color: #999;
    transition: all 0.3s ease;
  }
.input-field textarea:focus::placeholder{
    color: goldenrod;
}
.input-field textarea:focus{
    border-color: goldenrod;
    /* box-shadow: inset 0 0 3px #fb6aae; */
}
.custom-select-1 {
    position: relative;
    width: 100%;
    max-width: 100%;
    font-size: 1.15rem;
    color: #000;
    height: 100%;
}

.select-button {
    max-width: 322px;
    font-size: 1.15rem;
    background-color: #fff;
    padding: 0.675em 1em;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    border: 1px solid lightgrey;
    font-size: 17px;
    height: 100%;
    color: #999999;
}

.selected-value {
    text-align: left;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #999999;
    transition: transform ease-in-out 0.3s;
}

.select-dropdown {
    position: absolute;
    list-style: none;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    max-height: 150px;
    overflow-y: auto;
    transition: 0.5s ease;
    z-index: 1;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: #ccc #f1f1f1;
    /* Firefox */
}

.select-dropdown::-webkit-scrollbar {
    width: 7px;
}

.select-dropdown:focus-within {
    box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
}

.select-dropdown::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.select-dropdown::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.select-dropdown li {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.select-dropdown li label {
    width: 100%;
    padding: 2px 10px;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.select-dropdown::-webkit-scrollbar {
    width: 7px;
}

.select-dropdown::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.select-dropdown::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.select-dropdown li:hover,
.select-dropdown input:checked~label {
    background-color: #f2f2f2;
}

.select-dropdown input:focus~label {
    background-color: #dfdfdf;
}

.select-dropdown input[type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
}

.custom-select-1.active .arrow {
    transform: rotate(180deg);
}

.custom-select-1.active .select-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    z-index: 2;
    max-height: 200px;
    overflow: auto;
    font-size: 1.1rem;
}
.select-dropdown-2 input{
    width: 11%;
}



.custom-select-g {
    position: relative;
    width: 100%;
    max-width: 100%;
    font-size: 1.15rem;
    color: #000;
    height: 100%;
}

.select-button-g {
    width: 100%;
    font-size: 1.15rem;
    background-color: #fff;
    padding: 0.675em 1em;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    border: 1px solid lightgrey;
    font-size: 17px;
    height: 100%;
    color: #999999;
}

.selected-value-g {
    text-align: left;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.arrow-g {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #999999;
    transition: transform ease-in-out 0.3s;
}

.select-dropdown-g {
    position: absolute;
    list-style: none;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    max-height: 150px;
    overflow-y: auto;
    transition: 0.5s ease;
    z-index: 1;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: #ccc #f1f1f1;
    /* Firefox */
}

.select-dropdown-g::-webkit-scrollbar {
    width: 7px;
}

.select-dropdown-g:focus-within {
    box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
}

.select-dropdown-g::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.select-dropdown-g::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.select-dropdown-g li {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.select-dropdown-g li label {
    width: 100%;
    padding: 2px 10px;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.select-dropdown-g::-webkit-scrollbar {
    width: 7px;
}

.select-dropdown-g::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.select-dropdown-g::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.select-dropdown-g li:hover,
.select-dropdown-g input:checked~label {
    background-color: #f2f2f2;
}

.select-dropdown-g input:focus~label {
    background-color: #dfdfdf;
}

.select-dropdown-g input[type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
}

.custom-select-g.active .arrow-g {
    transform: rotate(180deg);
}

.custom-select-g.active .select-dropdown-g {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    z-index: 2;
    max-height: 200px;
    overflow: auto;
    font-size: 1.1rem;
}












#toast {
    position: absolute;
    top: 353px;
    left: 50%;
    width: 83%;
    transform: translateX(-50%);
    padding: 10px 15px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    text-align: center;
}

#toast.hide{
    display: none;
    /* visibility: hidden; */
}

#toast.success {
    background-color: green;
}

#toast.error {
    background-color: #f44336;
}



.show-hide{
    position: absolute;
    right: 30px;
    top: 46%;
    cursor: pointer;
  }

  /* .toast .close-btn {
    margin: 10px auto 0 auto;
    display: block;
    cursor: pointer;
    color: white;
    font-weight: bold;
} */

.if-password{
    display: flex;
}
#toggle-password{
    margin-left: -33px;
    margin-top: 15px;
    cursor:pointer;
}
.show-hide{
    position: absolute;
    right: 30px;
    top: 46%;
    cursor:pointer;
}
.signup-link{
    color: goldenrod;
}
.forget_password{
    color: goldenrod;
    text-decoration: none;
}
.dropdown-list{
    padding-left: 0!important;
}
.dropdown-group{
    display: flex!important;
    flex-direction: column;
}






